<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Projects - Brand</title>

<link rel="stylesheet" href="assets/bootstrap/css/bootstrap2.min.css">


<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
<link rel="stylesheet" href="assets/css/Portfolio.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Bootstrap</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Cookie">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Spectral:300,300i,400,400i">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/Portfolio.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>


<body>
	<header th:replace="/customer/fragment/Header::header"></header>
	
	<main class="page projets-page">
		<section class="portfolio-block project-no-images">
			<div class="container">
				<div class="heading">
					<h2>Product portfolio</h2>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 col-xl-4 offset-xl-0">
						<div class="project-card-no-image">
							<h3>Product Name</h3>
							<input type="text">
							<div class="tags"></div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="project-card-no-image">
							<h3>From</h3>
							<input type="text">

							<h3>
								<br /> To
							</h3>
							<input type="text">
							<div class="tags"></div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="project-card-no-image">
							<h3>Description</h3>
							<textarea></textarea>
							<div class="tags"></div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="project-card-no-image">
							<h3>Fee</h3>
							<input type="text">
							<div class="tags"></div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4"></div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="/customer/fragment/footer::footer"></footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
	<script src="assets/js/theme.js"></script>
</body>

</html>